h1{
    background-color:rgb(0, 80, 155);
    color:seashell;
    font-size:300%;
    text-shadow: 1px 1px #605f79;
    text-align:center;
    }
    
    body{
       background:linear-gradient(#66b3ff,#4da6ff);
        font-family: Verdana, Geneva, Tahoma, sans-serif;  
    }

    main{
        padding-left: 5%;
        padding-right: 5%; 
    }

    center {
        text-align:center;
       }
    
    .bag{
        background-color:rgb(0, 80, 155);
        color:seashell;
        font-size:210%;
        text-shadow: 1px 1px #605f79;
        text-align:center;
    }

    .navSnake{
        background-color: rgb(9, 50, 139);
        overflow:hidden;
        color:seashell;
        font-size:300%;
        text-shadow: 1px 1px #605f79;
        text-align:center;
    }
    
    #snakeBody {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 100vh;
        position: relative;
        text-align: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      
      
      #snakeTitle {
        text-align: center;
        font-size: 32px;
        letter-spacing: 10px;
        padding: 20px 10px;
        color: black;
      }
      
      
      .snakeTable {
        width: 210px;
        height: 230px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        box-shadow: 0 0 1px 2px rgba(0,0,0,0.3);
      }
      @media only screen and (min-width: 768px) {
        .snakeTable {
          width: 315px;
          height: 345px;
        }
      }
      
      .box {
        background: white;
        border: solid 1px #16a085;
        width: 10px;
        height: 10px;
      }
      @media only screen and (min-width: 768px) {
        .box {
          width: 15px;
          height: 15px;
        }
      }
      
      .food {
        background: #8e44ad;
      }
      
      .snake {
        background: #16a085;
      }
      
      /* bar showing status below table */
      .status {
        background: white;
        color: #16a085;
        border: solid 1px #16a085;
        width: 210px;
        height: 20px;
      }
      @media only screen and (min-width: 768px) {
        .status {
          width: 315px;
          height: 30px;
        }
      }
      
      .score {
        float: right;
        padding: 0 5px;
        line-height: 20px;
      }
      @media only screen and (min-width: 768px) {
        .score {
          padding: 0 10px;
          line-height: 30px;
          font-size: 20px;
        }
      }
      
      .hidden {
        display: none;
      }
      
      .modul {
        
        align-items: center;
        
        text-align: center;
      }
      .start {
        background: rgba(256,256,256,1);
        padding: 60px;
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.3);
        border-radius: 2px;
      }
      .start span {
        color: #16a085;
        border: 1px solid;
        border-radius: 2px;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
      }
      .start span:hover {
        background: #16a085;
        color: white;
      }
    .text {color:seashell;
		text-shadow: 1px 1px #605f79;
        text-align:center;
        font-size:200%;
    }

.sub-title{color:seashell;
		text-shadow: 2px 2px #605f79;
        font-size:200%;
}

    .navSnake a{
        float:left;
        padding-top:14px 16px;
        font-size:20px;
        text-decoration:none;
        min-width:500px;
        color:aliceblue
    }
    
    .navSnake b:hover{
        background-color: rgb(151, 151, 189);
        color:aliceblue;
    
    }
     
.navFeedback{
    background-color: rgb(9, 50, 139);
    overflow:hidden;
    color:seashell;
    text-shadow: 1px 1px #605f79;
    text-align:center;
}

.navFeedback a{
    float:left;
    padding-top:14px 16px;
    font-size:20px;
    text-decoration:none;
    min-width:500px;
    color:aliceblue;
}

#snakeboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #score {
    text-align: center;
    font-size: 100px;
  }

footer{
    border-style:double;
    border-color:aliceblue;
}