body.fullscreen {
  height: 100vh;
  overflow: hidden;
}

h1{
    color:seashell;
    font-size:400%;
    text-shadow: 2px 2px #363d3c;
    text-align:center;
  
    }
    
    body{
      background-image: linear-gradient(to bottom right, rgb(94, 173, 195), rgb(54, 55, 93));
        font-family: Courier New, sans-serif;  
    }

    main{
        padding-left: 5%;
        padding-right: 5%; 
    }

    center {
        text-align:center;
       }
    
       .column {
        float: left;
        width: 25%;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

    .bag{
        color:seashell;
        font-size:210%;
        text-shadow: 1px 1px #a5c0d4;
        text-align:center;
    }

    .navSnake{
        overflow:hidden;
        color:seashell;
        font-size:300%;
        text-shadow: 1px 1px #a5c0d4;
        text-align:right;
        position:relative;
        width: 940px;
        height: 104px;
        margin: 0px auto;
        padding:0;
        z-index: 402;
        right: 0;
        margin: top 1000px;
       
        
        
    }
    
.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-content: center;
  align-items: center;
}

[class^="col-"] { padding: 15px }

.col-1 {
  -ms-grid-column-span: 1;
  grid-column: span 1;
}

.col-2 {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.col-3 {
  -ms-grid-column-span: 3;
  grid-column: span 3;
}

.col-4 {
  -ms-grid-column-span: 4;
  grid-column: span 4;
}

.col-5 {
  -ms-grid-column-span: 5;
  grid-column: span 5;
}

.col-6 {
  -ms-grid-column-span: 6;
  grid-column: span 6;
}

.col-7 {
  -ms-grid-column-span: 7;
  grid-column: span 7;
}

.col-8 {
  -ms-grid-column-span: 8;
  grid-column: span 8;
}

.col-9 {
  -ms-grid-column-span: 9;
  grid-column: span 9;
}

.col-10 {
  -ms-grid-column-span: 10;
  grid-column: span 10;
}

.col-11 {
  -ms-grid-column-span: 11;
  grid-column: span 11;
}

.col-12 {
  -ms-grid-column-span: 12;
  grid-column: span 12;
}

    #snakeBody {
        justify-content: space-between;
        align-items: center;
        min-height: 100vh;
        position: relative;
        text-align: center;
      }
      
      
      #snakeTitle {
        text-align: center;
        font-size: 32px;
        letter-spacing: 10px;
        padding: 20px 10px;
        color: black;
      }
      
      
      .snakeTable {
        width: 210px;
        height: 230px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        box-shadow: 0 0 1px 2px rgba(0,0,0,0.3);
      }
      @media only screen and (min-width: 768px) {
        .snakeTable {
          width: 315px;
          height: 345px;
        }
      }
      
      .box {
        background: white;
        border: solid 1px darkblue;
        width: 10px;
        height: 10px;
      }
      @media only screen and (min-width: 768px) {
        .box {
          width: 15px;
          height: 15px;
        }
      }
      
      .food {
        background: seagreen;
      }
      
      .snake {
        background: darkblue;
      }
      
      /* bar showing status below table */
      .status {
        background: white;
        color: darkblue;
        border: solid 1px darkblue;
        width: 210px;
        height: 20px;
      }
      @media only screen and (min-width: 768px) {
        .status {
          width: 315px;
          height: 30px;
        }
      }
      
      .score {
        float: right;
        padding: 0 5px;
        line-height: 20px;
      }
      @media only screen and (min-width: 768px) {
        .score {
          padding: 0 10px;
          line-height: 30px;
          font-size: 20px;
        }
      }
      
      .hidden {
        display: none;
      }
      
      .column {
        float: left;
      }

      #modul {
        align-items: center;
        text-align: center;
      }
      .start {
        background-color: darkblue;
        padding: 30px;
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.3);
        border-radius: 2px;
      }
      .start span {
        color: white;
        border: 1px solid;
        border-radius: 2px;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
      }
      .start span:hover {
        background: lightblue;
        color: white;
      }

      .refresh {
        background-color: darkblue;
        padding: 30px;
        box-shadow: 0 0 2px 3px rgba(0,0,0,0.3);
        border-radius: 2px;
      }
      .refresh span {
        color: white;
        border: 1px solid;
        border-radius: 2px;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
      }
      .refresh span:hover {
        background: lightblue;
        color: white;
      }

    .text {color:seashell;
		text-shadow: 1px 1px #605f79;
        text-align:center;
        font-size:200%;

    }

.sub-title{color:seashell;
		text-shadow: 2px 2px #605f79;
        font-size:200%;
        text-align: center;
}

    .navSnake a{
        float:left;
        padding-top:14px 16px;
        font-size:20px;
        text-decoration:none;
        min-width:50px;
        color:aliceblue
    }
    
    .navSnake b:hover{
        background-color: rgb(151, 151, 189);
        color:aliceblue;
    
    }
     
.navFeedback{
    background-color: rgb(9, 50, 139);
    overflow:hidden;
    color:seashell;
    text-shadow: 1px 1px #605f79;
    text-align:center;
}

.navFeedback a{
    float:left;
    padding-top:14px 16px;
    font-size:20px;
    text-decoration:none;
    min-width:500px;
    color:aliceblue;
}

#snakeboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #score {
    text-align: center;
    font-size: 100px;
  }

footer{
    border-style:double;
    border-color:aliceblue;
}
form{
border-style:groove;
color:white;
}
h6{
  color:rgb(0, 0, 0);
}
